# Ignore node_modules directory
node_modules/
images/

# Ignore build artifacts
build/
dist/

# Ignore environment-specific files
.env
.env.dev
.env.local
.env.*.local

# Ignore logs
logs/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package lock files
package-lock.json
yarn.lock

# Ignore test coverage reports
coverage/

# Ignore compiled binaries or executables
*.exe
*.dll

# Ignore macOS specific files
.DS_Store

# Ignore system files
Thumbs.db